---
title: CodeMonkeyBlog | Tidbits from everyday programming 
---
<!DOCTYPE html>
<html>

{% include head.html %}

<body>
	<div id="wrap">
	  	
	  	<!-- Navigation -->
	  	{% include menu.html %}
    
    <!-- Icon menu -->
	  <a href="#" id="nav-menu">
	  	<div id="menu"></div>
	  </a>

      <!-- Header -->
	    {% include header.html %}

    <!-- Main content -->
	  <div id="container">

	  	{{ content }}
		
		  <!-- Pagination links -->
      {% if paginator.total_pages > 1 %}
        <div class="pagination">
          {% if paginator.previous_page == 1 %}
            <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&laquo;</a>
          {% elsif paginator.previous_page%}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&laquo;</a>
          {% else %}
            <span class="page-item">&laquo;</span>
          {% endif %}
        
          {% for page in (1..paginator.total_pages) %}
            {% if page == paginator.page %}
              <span class="page-item">{{ page }}</span>
            {% elsif page == 1 %}
              <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">{{ page }}</a>
            {% else %}
              <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}" class="page-item">{{ page }}</a>
            {% endif %}
          {% endfor %}
        
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&raquo;</a>
          {% else %}
            <span class="page-item">&raquo;</span>
          {% endif %}
        </div>
        {% endif %}

	  </div>
	    
	    <!-- Footer -->
	    {% include footer.html %}

	    <!-- Script -->
      {% include script.html %}

	</div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-59959780-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
